.body{
    background: #FF6D1B;
}
.login-box{
    text-align: center;
}
#logoFigma{
    max-width: 15rem;
    max-height: 12rem;
    margin-right: 2rem;
    margin-top: 2rem;
}
.login-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 18%;
    background: #f2f2f2;
    max-width: 30%;
    margin-left: 40rem;
    padding: 2rem;
}
.boton{
    background: #FF6D1B;
    color: #f2f2f2;
    margin-top: 2rem;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
    border-color: #FF6D1B;
}
.card-body{
    background: #FF6D1B;
    color: #f2f2f2;
    text-align: center;
    margin: 2rem;
    padding: 3rem;
}
.dias{
    background: #f5f5f5;
    text-align: center;
    /* margin-top:2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem; */
    color: black;
}
.container{
    background: #DEDEDE;
    /* max-width: 115rem;
    margin-right: 1rem;
    margin-left: 2rem; */
}
#comida{
    background: #FF6D1B;
    color: #f2f2f2;
    /* margin-bottom: 2rem;
    max-height: 40vh; */
}